<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Running ...</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;

            background-color: lavender;
        }
    </style>
</head>
<body>
    <!-- <iframe src="{{ widget }}"
        allowtransparency="true" frameborder="0" style="height: 100%; width: 100%;"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe> -->
    Server Running ...
</body>
</html>